{% extends "layout.html" %} {% load staticfiles %} {% block content %}

<div class="container">
    <div class="row">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="parallax-bg" style="background-image:url(static/images/mountain.jpg)"  data-swiper-parallax="-23%"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="title" data-swiper-parallax="-300">Django Photo Gallery Sample</div>
                    <div class="subtitle" data-swiper-parallax="-200">Optimized images and assets for quick load.</div>
                </div>
                <div class="swiper-slide">
                    <div class="title" data-swiper-parallax="-300" data-swiper-parallax-opacity="0">Designed to be mobile</div>
                    <div class="subtitle" data-swiper-parallax="-200">Most modern mobile touch support</div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
        </div>
        <!-- {% static 'images/lake.jpg' %} -->
    </div>

    <div class="row">
        {% for album in albums %}

        <div class="col">
            <div class="dpg-album-card">
                <div class="card-image">
                    <img src="{{ album.thumb.url }}" alt="{{ album.title }}" class="dpg-album-card-image" />
                </div>
                <div class="card-content">
                    <span class="card-title">{{ album.title }}</span>
                    <p>{{ album.description|truncatechars:120 }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'album' album.slug %}">
                        More Images
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination center">
        <span class="step-links">
            {% if albums.has_previous %}
            <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
            {% endif %} {% if albums.has_next %}
            <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}