{% spaceless %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load staticfiles %} 
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    {% load compress %}

    {% block seo %}
        <title>Ireland Views | Travel to Ireland with family | Ireland Sightseeing</title>
        <meta name="description" content="Explore Ireland's wildest and most beautiful corner."/>
        <meta name="keywords" content="Ireland, Donegal, Letterkenny, Ireland trip, cruise, Ireland tour, travel to Ireland, Ireland trek, visit Ireland, Ireland for weekend, outdoor, stay, Ireland holiday, Ireland vacation, layoff, fiesta, time off, leave, recreation, break, things to do, Ireland Overview, advice, attractions, reviews, guide"/>

        <meta property="og:title" content="Ireland Views | Travel to Ireland with family | Ireland Sightseeing">
        <meta property="og:description" content="Explore Ireland's wildest and most beautiful corner.">
        <meta property="og:url" content="http://{{ request.get_host }}">
        <meta property="og:image" content="http://{{ request.get_host }}{% static 'images/Ireland-Views-Logo.jpg' %}">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="450">

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Ireland Views | Travel to Ireland with family | Ireland Sightseeing" />
        <meta name="twitter:description" content="Explore Ireland's wildest and most beautiful corner." />
        <meta name="twitter:url" content="http://{{ request.get_host }}{% static 'images/Ireland-Views-Logo.jpg' %}" />
        <meta name="twitter:image" content="http://{{ request.get_host }}" />
    
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Website",
            "publisher": {
                "@type": "Organization",
                "name": "Ireland Views",
                "logo": "http://{{ request.get_host }}{% static 'images/Ireland-Views-Logo.jpg' %}"
            },
            "url": "http://{{ request.get_host }}",
            "image": {
                "@type": "ImageObject",
                "url": "http://{{ request.get_host }}{% static 'images/Ireland-Views-Logo.jpg' %}",
                "width": 490,
                "height": 490
            },
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "http://{{ request.get_host }}"
            },
            "description": "Explore Ireland's wildest and most beautiful corner."
        }
    </script>
    {% endblock %}

    {% block canonical %}
        <link rel="canonical" href="http://{{ request.get_host }}">
    {% endblock %}

    <link rel="manifest" href="{% static 'icons/manifest.json' %}">
    <meta name="msapplication-config" content="{% static 'icons/browserconfig.xml' %}" />
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <meta http-equiv="Content-Language" content="en">
    <meta property="fb:page_id" content="1334553816592146">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Ireland Views" />

    <meta name="twitter:site" content="@IrelandViews">
    <meta name="twitter:creator" content="@VelinGeorgiev">
    <meta name="twitter:account_id" content="864615440982704128">

    <meta name="author" content="Ireland Views">
    <link rel="me" type="text/html" href="https://github.com/VelinGeorgiev">
    <link rel="me" type="text/html" href="https://www.linkedin.com/in/velingeorgiev">
    <link rel="me" type="text/html" href="https://twitter.com/velingeorgiev">

    <link rel="apple-touch-icon" href="{% static 'icons/apple-icon.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#75AE3E">
    <meta name="msapplication-TileImage" content="{% static 'icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#75AE3E">

    {% compress css inline %}
    <link rel="stylesheet" href="{% static 'external/milligram/milligram.css' %}">
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css" /> 
    {% endcompress %}

    {% block css %}{% endblock %}
</head>

<body>
    <!-- Content here -->
    <div class="container">
            <div class="row">
                
                <div class="column">
                    <a href="/" title="Django Photo Gallery Sample">
                        <h4>
                            Django Photo Gallery Sample
                        </h4>
                    </a>
                </div>
                <div class="column">
                    <a class="button button-clear" href="/" title="Home">
                        <svg class="i-home menu-icon" viewBox="0 0 32 32" width="64" height="64" fill="none" stroke="currentcolor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" role="img" aria-label="Home">
                            <path d="M12 20 L12 30 4 30 4 12 16 2 28 12 28 30 20 30 20 20 Z"></path>
                        </svg>
                    </a>
                </div>
            </div>

        {% block content %}{% endblock %}

        <footer>
            <div>
                <!-- Icons added as inlive SVG to speedup the page laod -->
                <a href="https://github.com/VelinGeorgiev" target="_blank" title="Velin Georgiev Github account" rel="nofollow">

                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Velin Georgiev Github account" class="social">
                        <rect fill="#171515" height="512" rx="15%" width="512" />
                        <path d="m119 255c17 30 49 48 102 53-8 6-17 17-18 30-10 6-29 8-44 3-21-7-29-48-61-42-7 1-6 6 0 10 10 6 21 16 26 30 12 31 37 39 77 33v45c0 14-20 18-20 25 0 3 7 3 12 3 10 0 32-9 32-23 0-12 0-52 1-59 0-15 8-20 8-20s1 82-2 92c-4 13-10 11-10 17 0 9 26 2 35-17 7-15 4-95 3-94h7s0 37 1 53c0 17-1 39 9 50 7 7 29 19 29 8 0-6-12-12-12-29v-79c10 0 8 26 8 26l1 48s-2 18 19 25c8 3 24 3 25-1s-20-11-20-25v-49c0-36-5-49-22-60 53-5 86-18 102-53 10-20 12-44 12-62 0-50-24-67-29-76 7-38-1-55-5-60-14-5-48 12-66 24-30-9-94-8-118 2-44-31-67-26-67-26s-15 27-4 66c-15 18-25 31-26 65 0 27 3 44 15 67z"
                            fill="#fff" />
                    </svg>
                </a>
                <a href="https://twitter.com/velingeorgiev" target="_blank" title="Velin Georgiev Twitter profile" rel="nofollow">

                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Velin Georgiev Twitter profile" class="social">
                        <rect fill="#1da1f3" height="512" rx="15%" width="512" />
                        <path d="m456 133c-14 7-31 11-47 13 17-10 30-27 37-46-15 10-34 16-52 20-61-62-157-7-141 75-68-3-129-35-169-85-22 37-11 86 26 109-13 0-26-4-37-9 0 39 28 72 65 80-12 3-25 4-37 2 10 33 41 57 77 57-42 30-77 38-122 34 170 111 378-32 359-208 16-11 30-25 41-42z"
                            fill="#fff" />
                    </svg>
                </a>
                <a href="https://www.linkedin.com/in/velingeorgiev" target="_blank" title="Velin Georgiev Linkedin profile" rel="nofollow">

                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#fff" role="img" aria-label="Velin Georgiev Linkedin profile"
                        class="social">
                        <rect width="512" height="512" rx="15%" fill="#0077b5" />
                        <circle cx="104" cy="104" r="48" />
                        <path d="m237 178v259m-133-259v259" stroke="#fff" stroke-width="86" />
                        <path d="m279 293c0-26 18-53 48-53 31 0 43 24 43 59v138h86v-148c0-80-42-116-99-116-45 0-67 25-78 42" />
                    </svg>
                </a>
            </div>
            <div>
                © 2018 | Sharing is Caring
            </div>
        </footer>
    </div>
    {% block scripts %}{% endblock %}
    <!-- Google Analytics -->
    <script>
            window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
            ga('create', 'UA-79034438-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
</body>

</html>
{% endspaceless %}