{% extends "layout.html" %} 
{% load staticfiles %} 
{% load compress %}

{% block seo %}
    <title>{{ album.title }} - Ireland Views</title>
    <meta name="description" content="{{ album.description }}">
    <meta name="keywords" content="{{ album.tags }}"/>

    <meta property="og:title" content="{{ album.title }} - Ireland Views">
    <meta property="og:description" content="{{ album.description }}">
    <meta property="og:url" content="http://{{ request.get_host }}{% url 'album' album.slug %}">
    <meta property="og:image" content="http://{{ request.get_host }}{{ image }}">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="450">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ album.title }} - Ireland Views" />
    <meta name="twitter:description" content="{{ album.description }}" />
    <meta name="twitter:url" content="http://{{ request.get_host }}{% url 'album' album.slug %}" />
    <meta name="twitter:image" content="http://{{ request.get_host }}{{ image }}" />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "tripsalbuming",
        "headline": "{{ album.title }} - Ireland Views",
        "datePublished": "{{ album.created|date:"Y-m-d"}}",
        "dateModified": "{{ album.created|date:"Y-m-d"}}",
        "author": {
          "@type": "Person",
          "name": "Ireland Views"
        },
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "http://{{ request.get_host }}{% url 'album' album.slug %}"
        },
        "image": {
          "@type": "ImageObject",
          "url": "http://{{ request.get_host }}{{ image }}",
          "width": 800,
          "height": 800
        },
        "publisher": {
          "@type": "Organization",
          "name": "Ireland Views",
          "logo": {
            "@type": "ImageObject",
            "url": "http://{{ request.get_host }}/static/images/Ireland-Views-Logo.jpg",
            "width": 55,
            "height": 60
          }
        },
        "description": "{{ album.description }}"
      }
    </script>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="http://{{ request.get_host }}{% url 'album' album.slug %}">
{% endblock %}

{% block css %}
    {% compress css inline %}
        <link rel="stylesheet" href="{% static 'external/photoswipe/photoswipe.css' %}">
        <link rel="stylesheet" href="{% static 'external/photoswipe/default-skin/default-skin.css' %}"> 
    {% endcompress %}
{% endblock %} 

{% block content %} 

{% if album.is_visible %}

<article>
    <header>
        <h1>{{ album.title }}</h1>
    </header>
    <section>
        <div class="row">
            <p>{{ album.description }}</p>
        </div>
        <div class="row">
            <ul class="cards">
                {% for item in images %}
                <li class="cards__item">
                    <div class="card">
                        <a href="javascript:pswpInit({{ forloop.counter0 }});">
                            <img src="{{ item.thumb.url }}" alt="{{ item.alt }}" class="card__image" />
                        </a>
                        <div class="card__content">
                            <p class="card__text">{{ item.alt }}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <footer>
        Created on
        <time datetime="{{ album.created|date:" Y-m-d " }}">{{ album.created|date:"d M Y" }}</time>
        <p>Tags: {{ album.tags }}</p>
    </footer>
</article>

<!-- PhotoSwipe -->
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
                 It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
{% else %}
<h3>This album is temporarily unavailable.</h3>
{% endif %} {% endblock %} {% block scripts %}


{% compress js %}
<script>
    // build the json album images collection 
    window.djangoAlbumImages = [
        {% for item in images %}
            { src: '{{ item.image.url }}', w: {{ item.width }}, h: {{ item.height }} },
        {% endfor %}
        ];
</script>
<script src="{% static 'external/photoswipe/photoswipe.min.js' %}"></script>
<script src="{% static 'external/photoswipe/photoswipe-ui-default.min.js' %}"></script> 
<script src="{% static 'app.js' %}"></script>
{% endcompress %}

{% endblock %}