/* Custom fonts
@font-face {
  font-family: Ubuntu;
  src: local("Ubuntu"),
       local("Ubuntu-Regular"),
       url(Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Ubuntu-Italic;
  src: local("Ubuntu-Italic"),
       url(Ubuntu-Italic.ttf);
}


body, h1, h2, h3, h4, h5{
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

h1{
    font-size: 3.0rem;
}

h2{
    font-size: 2.0rem;color:#37474f;
    margin-bottom: 0px;
}

h3{
    font-size: 1.5rem;
}

strong {
    font-size: 1.1em;
    color: darkblue;
}

/* Custom styles overrrides */
.dpg-opaque {
  /* Theoretically for IE 8 & 9 (more valid) */
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=60);
  
  /* Modern Browsers */
  opacity: 0.6;
}

.dpg-italic {
  font-style: italic;
}

.dpg-icon {
    max-width:4rem;
    max-height:4rem;
}

.dpg-album-card-image {
    width:300px;
    height:225px;
}

.dpg-album-card, .dpg-album-image {
    max-width:300px;
}


/* Include this stylesheet after Milligram or merge it with your main.css */

body {
    font-family: 'Trebuchet MS', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    padding-top: 1rem;
    font-size: 2.6rem;
}

h3 {
    padding-top: 1rem;
    font-size: 2.2rem;
}

.navigation .title, .navigation-title {
    color: #f2f2f2;
}

.navigation {
    background: #34373C;
    border-bottom: .1rem solid #1B1C1D;
}

.header {
    background-color: #141518;
}

pre {
    background: #141518;
}

.prettyprint {
    color: #f2f2f2;
}

    .prettyprint.lang-md * {
        color: #f2f2f2 !important;
    }

code {
    background: #141518;
}

.prettyprint .atv {
    color: rgba(73, 158, 223, 1);
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
    margin-bottom: 1.5rem;
}



/* Custom classes */

.opaque {
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=60);
    /* Modern Browsers */
    opacity: 0.6;
}

img {
    margin-bottom: 1rem;
}

.italic {
    font-style: italic;
}

.social {
    width: 64px;
    margin-right: 3px;
}

.mcsd-cert {
    max-height: 100px;
}

.scrum-cert {
    max-height: 100px;
    max-width: 200px;
}

.menu-icon {
    max-width: 32px;
}

.comment {
    font-weight: 600
}

.padding-top-1 {
    padding-top: 1rem;
}

.post-thumb {
    max-width: 200px;
}

.github-icon {
    max-width: 48px;
}

/* Responsive Youtube video */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom:1rem;
}

    .video-container iframe, .video-container object, .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


/* Swiper menu */
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-manu {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.menu {
    min-width: 100px;
    width: 70%;
    max-width: 320px;
    background-color: #2C8DFB;
    color: #fff;
}
.content {
    width: 100%;
}
.menu-button {
    position: absolute;
    top: 0px; left: 0px;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #2C8DFB;
    /*margin: 14px;
    border-radius: 5px;*/
}
.menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
}
.menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
}
.bar {
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .3s;
    transition: .3s;
}
.menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
    -ms-transform: translateY(1.5px) rotate(-4.5deg);
    transform: translateY(1.5px) rotate(-4.5deg);
}
.menu-button:hover .bar:nth-of-type(2) {
    opacity: .9;
}
.menu-button:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
    -ms-transform: translateY(-1.5px) rotate(4.5deg);
    transform: translateY(-1.5px) rotate(4.5deg);
}
.cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
}
.cross .bar:nth-of-type(2) {
    opacity: 0;
}
.cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
}
.cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);
}
.cross:hover .bar:nth-of-type(2) {
    opacity: .1;
}
.cross:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);
}
